# Data Acquisition Exercises

In [106]:
import pandas as pd
import requests

import os

import warnings
warnings.filterwarnings("ignore")

1. Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

2. Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

3. Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

4. Save the data in your files to local csv files so that it will be faster to access in the future.

5. Combine the data from your three separate dataframes into one large dataframe.

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.
-----

**Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.**

In [32]:
# assign the url
url = 'https://python.zach.lol/api/v1/items'

# create a requests.get for our url and get a response
response = requests.get(url)

In [33]:
# .ok: a boolean that indicates that the response was successful (the server sent back a 200 response code)
print(response.ok,', ', type(response.ok))

True ,  <class 'bool'>

In [34]:
# .status_code: a number indicating the HTTP response status code
print(response.status_code,', ', type(response.status_code))

200 ,  <class 'int'>

In [35]:
# .text: the raw response text
print(response.text,', ', type(response.text))

{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}
 ,  <class 'str'>

In [36]:
# .json returns the parsed JSON from a response
data = response.json()
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [37]:
data.keys()

dict_keys(['payload', 'status'])

In [38]:
# specify the payload from keys to weed out any noise from the data
data['payload']

{'items': [{'item_brand': 'Riceland',
   'item_id': 1,
   'item_name': 'Riceland American Jazmine Rice',
   'item_price': 0.84,
   'item_upc12': '35200264013',
   'item_upc14': '35200264013'},
  {'item_brand': 'Caress',
   'item_id': 2,
   'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
   'item_price': 6.44,
   'item_upc12': '11111065925',
   'item_upc14': '11111065925'},
  {'item_brand': 'Earths Best',
   'item_id': 3,
   'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
   'item_price': 2.43,
   'item_upc12': '23923330139',
   'item_upc14': '23923330139'},
  {'item_brand': 'Boars Head',
   'item_id': 4,
   'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
   'item_price': 3.14,
   'item_upc12': '208528800007',
   'item_upc14': '208528800007'},
  {'item_brand': 'Back To Nature',
   'item_id': 5,
   'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
   'item_price': 2.61,
   'item_upc12': '759283100036',
   'item_upc14': '759283100036'},
  {'item_brand': 'Sally Hansen',
   'item_id': 6,
   'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
   'item_price': 6.93,
   'item_upc12': '74170388732',
   'item_upc14': '74170388732'},
  {'item_brand': 'Twinings Of London',
   'item_id': 7,
   'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
   'item_price': 9.64,
   'item_upc12': '70177154004',
   'item_upc14': '70177154004'},
  {'item_brand': 'Lea & Perrins',
   'item_id': 8,
   'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
   'item_price': 1.68,
   'item_upc12': '51600080015',
   'item_upc14': '51600080015'},
  {'item_brand': 'Van De Kamps',
   'item_id': 9,
   'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
   'item_price': 1.79,
   'item_upc12': '19600923015',
   'item_upc14': '19600923015'},
  {'item_brand': 'Ahold',
   'item_id': 10,
   'item_name': 'Ahold Cocoa Almonds',
   'item_price': 3.17,
   'item_upc12': '688267141676',
   'item_upc14': '688267141676'},
  {'item_brand': 'Honest Tea',
   'item_id': 11,
   'item_name': 'Honest Tea Peach White Tea',
   'item_price': 3.93,
   'item_upc12': '657622604842',
   'item_upc14': '657622604842'},
  {'item_brand': 'Mueller',
   'item_id': 12,
   'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
   'item_price': 8.4,
   'item_upc12': '74676640211',
   'item_upc14': '74676640211'},
  {'item_brand': 'Garnier Nutritioniste',
   'item_id': 13,
   'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
   'item_price': 6.47,
   'item_upc12': '603084234561',
   'item_upc14': '603084234561'},
  {'item_brand': 'Pamprin',
   'item_id': 14,
   'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
   'item_price': 7.54,
   'item_upc12': '41167300121',
   'item_upc14': '41167300121'},
  {'item_brand': 'Suave',
   'item_id': 15,
   'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
   'item_price': 9.11,
   'item_upc12': '79400847201',
   'item_upc14': '79400847201'},
  {'item_brand': 'Burts Bees',
   'item_id': 16,
   'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
   'item_price': 5.17,
   'item_upc12': '792850014008',
   'item_upc14': '792850014008'},
  {'item_brand': 'Ducal',
   'item_id': 17,
   'item_name': 'Ducal Refried Red Beans',
   'item_price': 1.16,
   'item_upc12': '88313590791',
   'item_upc14': '88313590791'},
  {'item_brand': 'Scotch',
   'item_id': 18,
   'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
   'item_price': 4.39,
   'item_upc12': '21200725340',
   'item_upc14': '21200725340'},
  {'item_brand': 'Careone',
   'item_id': 19,
   'item_name': 'Careone Family Comb Set - 8 Ct',
   'item_price': 0.74,
   'item_upc12': '41520035646',
   'item_upc14': '41520035646'},
  {'item_brand': 'Usda Produce',
   'item_id': 20,
   'item_name': 'Plums Black',
   'item_price': 5.62,
   'item_upc12': '204040000000',
   'item_upc14': '204040000000'}],
 'max_page': 3,
 'next_page': '/api/v1/items?page=2',
 'page': 1,
 'previous_page': None}

In [39]:
# take a look at keys from payload
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [40]:
# specify that we want the items from payload
data2 = data['payload']['items']

# now this has what we want
data2

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'},
 {'item_brand': 'Earths Best',
  'item_id': 3,
  'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
  'item_price': 2.43,
  'item_upc12': '23923330139',
  'item_upc14': '23923330139'},
 {'item_brand': 'Boars Head',
  'item_id': 4,
  'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
  'item_price': 3.14,
  'item_upc12': '208528800007',
  'item_upc14': '208528800007'},
 {'item_brand': 'Back To Nature',
  'item_id': 5,
  'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
  'item_price': 2.61,
  'item_upc12': '759283100036',
  'item_upc14': '759283100036'},
 {'item_brand': 'Sally Hansen',
  'item_id': 6,
  'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
  'item_price': 6.93,
  'item_upc12': '74170388732',
  'item_upc14': '74170388732'},
 {'item_brand': 'Twinings Of London',
  'item_id': 7,
  'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
  'item_price': 9.64,
  'item_upc12': '70177154004',
  'item_upc14': '70177154004'},
 {'item_brand': 'Lea & Perrins',
  'item_id': 8,
  'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
  'item_price': 1.68,
  'item_upc12': '51600080015',
  'item_upc14': '51600080015'},
 {'item_brand': 'Van De Kamps',
  'item_id': 9,
  'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
  'item_price': 1.79,
  'item_upc12': '19600923015',
  'item_upc14': '19600923015'},
 {'item_brand': 'Ahold',
  'item_id': 10,
  'item_name': 'Ahold Cocoa Almonds',
  'item_price': 3.17,
  'item_upc12': '688267141676',
  'item_upc14': '688267141676'},
 {'item_brand': 'Honest Tea',
  'item_id': 11,
  'item_name': 'Honest Tea Peach White Tea',
  'item_price': 3.93,
  'item_upc12': '657622604842',
  'item_upc14': '657622604842'},
 {'item_brand': 'Mueller',
  'item_id': 12,
  'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
  'item_price': 8.4,
  'item_upc12': '74676640211',
  'item_upc14': '74676640211'},
 {'item_brand': 'Garnier Nutritioniste',
  'item_id': 13,
  'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
  'item_price': 6.47,
  'item_upc12': '603084234561',
  'item_upc14': '603084234561'},
 {'item_brand': 'Pamprin',
  'item_id': 14,
  'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
  'item_price': 7.54,
  'item_upc12': '41167300121',
  'item_upc14': '41167300121'},
 {'item_brand': 'Suave',
  'item_id': 15,
  'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
  'item_price': 9.11,
  'item_upc12': '79400847201',
  'item_upc14': '79400847201'},
 {'item_brand': 'Burts Bees',
  'item_id': 16,
  'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
  'item_price': 5.17,
  'item_upc12': '792850014008',
  'item_upc14': '792850014008'},
 {'item_brand': 'Ducal',
  'item_id': 17,
  'item_name': 'Ducal Refried Red Beans',
  'item_price': 1.16,
  'item_upc12': '88313590791',
  'item_upc14': '88313590791'},
 {'item_brand': 'Scotch',
  'item_id': 18,
  'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
  'item_price': 4.39,
  'item_upc12': '21200725340',
  'item_upc14': '21200725340'},
 {'item_brand': 'Careone',
  'item_id': 19,
  'item_name': 'Careone Family Comb Set - 8 Ct',
  'item_price': 0.74,
  'item_upc12': '41520035646',
  'item_upc14': '41520035646'},
 {'item_brand': 'Usda Produce',
  'item_id': 20,
  'item_name': 'Plums Black',
  'item_price': 5.62,
  'item_upc12': '204040000000',
  'item_upc14': '204040000000'}]

In [41]:
# make a dataframe from the specified data we want
items = pd.DataFrame(data2)

In [42]:
items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000

**2. Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)**

In [43]:
# assign the url
url = 'https://python.zach.lol/api/v1/stores'

# create a requests.get for our url and get a response
response = requests.get(url)

In [44]:
# print out response of .get() and the status code
response.ok, response.status_code

(True, 200)

In [45]:
response.text

'{"payload":{"max_page":1,"next_page":null,"page":1,"previous_page":null,"stores":[{"store_address":"12125 Alamo Ranch Pkwy","store_city":"San Antonio","store_id":1,"store_state":"TX","store_zipcode":"78253"},{"store_address":"9255 FM 471 West","store_city":"San Antonio","store_id":2,"store_state":"TX","store_zipcode":"78251"},{"store_address":"2118 Fredericksburg Rdj","store_city":"San Antonio","store_id":3,"store_state":"TX","store_zipcode":"78201"},{"store_address":"516 S Flores St","store_city":"San Antonio","store_id":4,"store_state":"TX","store_zipcode":"78204"},{"store_address":"1520 Austin Hwy","store_city":"San Antonio","store_id":5,"store_state":"TX","store_zipcode":"78218"},{"store_address":"1015 S WW White Rd","store_city":"San Antonio","store_id":6,"store_state":"TX","store_zipcode":"78220"},{"store_address":"12018 Perrin Beitel Rd","store_city":"San Antonio","store_id":7,"store_state":"TX","store_zipcode":"78217"},{"store_address":"15000 San Pedro Ave","store_city":"San Antonio","store_id":8,"store_state":"TX","store_zipcode":"78232"},{"store_address":"735 SW Military Dr","store_city":"San Antonio","store_id":9,"store_state":"TX","store_zipcode":"78221"},{"store_address":"8503 NW Military Hwy","store_city":"San Antonio","store_id":10,"store_state":"TX","store_zipcode":"78231"}]},"status":"ok"}\n'

In [47]:
data = response.json()
data

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [48]:
# print out keys to assess which ones we want to keep
data.keys()

dict_keys(['payload', 'status'])

In [50]:
# pull the keys again since we are still seeing noise
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [52]:
# now we filtered out our data
data = data['payload']['stores']
data

[{'store_address': '12125 Alamo Ranch Pkwy',
  'store_city': 'San Antonio',
  'store_id': 1,
  'store_state': 'TX',
  'store_zipcode': '78253'},
 {'store_address': '9255 FM 471 West',
  'store_city': 'San Antonio',
  'store_id': 2,
  'store_state': 'TX',
  'store_zipcode': '78251'},
 {'store_address': '2118 Fredericksburg Rdj',
  'store_city': 'San Antonio',
  'store_id': 3,
  'store_state': 'TX',
  'store_zipcode': '78201'},
 {'store_address': '516 S Flores St',
  'store_city': 'San Antonio',
  'store_id': 4,
  'store_state': 'TX',
  'store_zipcode': '78204'},
 {'store_address': '1520 Austin Hwy',
  'store_city': 'San Antonio',
  'store_id': 5,
  'store_state': 'TX',
  'store_zipcode': '78218'},
 {'store_address': '1015 S WW White Rd',
  'store_city': 'San Antonio',
  'store_id': 6,
  'store_state': 'TX',
  'store_zipcode': '78220'},
 {'store_address': '12018 Perrin Beitel Rd',
  'store_city': 'San Antonio',
  'store_id': 7,
  'store_state': 'TX',
  'store_zipcode': '78217'},
 {'store_address': '15000 San Pedro Ave',
  'store_city': 'San Antonio',
  'store_id': 8,
  'store_state': 'TX',
  'store_zipcode': '78232'},
 {'store_address': '735 SW Military Dr',
  'store_city': 'San Antonio',
  'store_id': 9,
  'store_state': 'TX',
  'store_zipcode': '78221'},
 {'store_address': '8503 NW Military Hwy',
  'store_city': 'San Antonio',
  'store_id': 10,
  'store_state': 'TX',
  'store_zipcode': '78231'}]

In [53]:
# assigned filtered data to a dataframe
stores = pd.DataFrame(data)
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [61]:
stores_list = []
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()
n = data['payload']['max_page']
for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/stores?page='+str(i)
    response = requests.get(url)
    data = response.json()
    page_stores = data['payload']['stores']
    stores_list += page_stores

In [65]:
stores_list = pd.DataFrame(stores_list)
stores_list

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

**3. Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.**

In [57]:
# assign the url
url = 'https://python.zach.lol/api/v1/sales'

# create a requests.get for our url and get a response
response = requests.get(url)

print(response.ok, ' ', response.status_code)

True   200

In [58]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [60]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [67]:
sales = []
response = requests.get('https://python.zach.lol/api/v1/sales')
data = response.json()
n = data['payload']['max_page']
for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/sales?page='+str(i)
    response = requests.get(url)
    data = response.json()
    page = data['payload']['sales']
    sales += page

In [68]:
# make a dataframe from the sales list
sales = pd.DataFrame(sales)

In [69]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

**4. Save the data in your files to local csv files so that it will be faster to access in the future.**

In [70]:
# save each dataframe to a separate csv
items.to_csv('items.csv')
stores.to_csv('stores.csv')
sales.to_csv('sales.csv')

**5. Combine the data from your three separate dataframes into one large dataframe.**

In [71]:
items.head(1)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [72]:
stores.head(1)

            store_address   store_city  store_id store_state store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253

In [73]:
sales.head(1)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1

In [74]:
# let's rename some columns as that we can merge them using primary keys
items.rename(columns={'item_id':'item'}, inplace=True)
stores.rename(columns={'store_id':'store'}, inplace=True)

In [75]:
items.shape, stores.shape, sales.shape

((20, 6), (10, 5), (913000, 5))

In [89]:
# merge the items and sales dataframe
items_sales = items.merge(sales, how='right', on='item')

In [90]:
items_sales.head(1)

,item_brand,item,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1

In [91]:
items_sales.shape

(913000, 10)

In [92]:
df = items_sales.merge(stores, how='left', on='store')

In [93]:
df.shape

(913000, 14)

In [95]:
df.head(1).T

                                            0
item_brand                           Riceland
item                                        1
item_name      Riceland American Jazmine Rice
item_price                               0.84
item_upc12                        35200264013
item_upc14                        35200264013
sale_amount                                13
sale_date       Tue, 01 Jan 2013 00:00:00 GMT
sale_id                                     1
store                                       1
store_address          12125 Alamo Ranch Pkwy
store_city                        San Antonio
store_state                                TX
store_zipcode                           78253

**6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv**

In [96]:
df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

**7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.**

In [104]:
def get_df(name):
    """
    This function takes in the string
    'items', 'stores', or 'sales' and
    returns a df containing all pages and
    creates a .csv file for future use.
    """
    base_url = 'https://python.zach.lol'
    api_url = base_url + '/api/v1/'
    response = requests.get(api_url + name)
    data = response.json()
    
    # create list from 1st page
    my_list = data['payload'][name]
    
    # loop through the pages and add to list
    while data['payload']['next_page'] != None:
        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
        my_list.extend(data['payload'][name])
    
    # Create DataFrame from list
    df = pd.DataFrame(my_list)
    
    # Write DataFrame to csv file for future use
    df.to_csv(name + '.csv')
    return df



def get_germany():
    """
    This function uses or creates the 
    opsd_germany_daily csv and returns a df.
    """
    if os.path.isfile('opsd_germany_daily.csv'):
        df = pd.read_csv('opsd_germany_daily.csv', index_col=0)
    else:
        url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
        df = pd.read_csv(url)
        df.to_csv('opsd_germany_daily.csv')
    return df



def combine_df(items, sales, stores):
    '''
    This functions takes in the three dataframes, items, sales, and stores and merges them.
    '''
    
    # rename columns to have a primary key
    items.rename(columns={'item_id':'item'}, inplace=True)
    stores.rename(columns={'store_id':'store'}, inplace=True)
    
    # merge the dataframes together
    items_sales = items.merge(sales, how='right', on='item')
    df = items_sales.merge(stores, how='left', on='store')
    
    return df

In [102]:
items = get_df('items')

In [111]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [112]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  50 non-null     object
 1   item_id     50 non-null     int64
 2   item_name   50 non-null     object
 3   item_price  50 non-null     float64
 4   item_upc12  50 non-null     object
 5   item_upc14  50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [107]:
gdf = get_germany()

In [108]:
gdf.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [110]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB